  <header role="banner" class="page">
    <div class="row row1">
      <nav>
        <ul id="navHolder" class="nav clearfix">
          <li class="home">
            <a href="Home">
              <span>Home</span>
            </a>
          </li>
          <li class="menu">
            <a href="Menu">
              <span>Menu</span>
            </a>
          </li>
          <li class="report">
            <a href="Report">
              <span>Report</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>